<div class="jumbotron d-md-none">
  <h1 class="display-3">RUNWCM</h1>
  <p class="lead">
    This is a utility for displaying your Rutgers Newark schedule on a map.
  </p>
  <hr class="my-4">
  <p>
    Unfortunately, we do not support mobile. This is because the main flow requires copying from the Webreg website -
    a flow that is not very mobile friendly!
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/russon77/runwcm" role="button">Learn more</a>
  </p>
</div>

<div class="row no-gutters d-none d-md-flex text-center">
  <div class="col-4 px-2">
    <h1 class="mb-0">
      RUNWCM
      <i class="fa fa-circle-o-notch fa-spin fa-fw"
         *ngIf="isLoadingMap"></i>
    </h1>
    <small class="text-muted">Rutgers Newark Class Mapper</small>

    <hr>

    <form class="mb-2" (submit)="onSubmit()">
      <div class="form-group required">
        <label class="control-label" for="webregdata">Webreg Data</label>
        <textarea class="form-control"
                  id="webregdata"
                  rows="3"
                  [formControl]="webregControl"
                  required></textarea>
        <small id="webregHelp" class="form-text text-muted">
          Navigate to Webreg's "Manage Registration" tab, then select all (CTRL+A or CMD+A), then copy, and finally paste here.
        </small>
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="webregControl.invalid">
        Go
      </button>
    </form>

    <ngb-alert type="danger"
               [dismissible]="true"
               (close)="onDismissError()"
               *ngIf="hasError">
      <strong>Warning!</strong> Failed to parse.
    </ngb-alert>

    <hr>

    <ng-container *ngIf="schedule">
      <div class="d-flex justify-content-center schedule-content">
        <div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedDay" >
          <label ngbButtonLabel class="btn-secondary schedule-monday">
            <input ngbButton type="radio" value="monday"> M
          </label>
          <label ngbButtonLabel class="btn-secondary schedule-tuesday">
            <input ngbButton type="radio" value="tuesday"> T
          </label>
          <label ngbButtonLabel class="btn-secondary schedule-wednesday">
            <input ngbButton type="radio" value="wednesday"> W
          </label>
          <label ngbButtonLabel class="btn-secondary schedule-thursday">
            <input ngbButton type="radio" value="thursday"> TH
          </label>
          <label ngbButtonLabel class="btn-secondary schedule-friday">
            <input ngbButton type="radio" value="friday"> F
          </label>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-header schedule-day">
          {{ selectedDay | uppercase }}
        </div>
        <ul class="list-group list-group-flush schedule-data">
          <li class="list-group-item"
              *ngFor="let course of schedule[selectedDay]">
            {{ course.name }} @ {{ course.location.name | uppercase  }}
          </li>
          <li class="list-group-item"
              *ngIf="schedule[selectedDay].length === 0">
            Nothing today :-)
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
  <div class="col-8">
    <agm-map [latitude]="lat"
             [longitude]="lng"
             [zoom]="17"
             (mapReady)="onMapReady()">
      <ng-container *ngIf="schedule">
        <agm-marker *ngFor="let course of schedule[selectedDay]"
                    [latitude]="course.location.coordinates.lat"
                    [longitude]="course.location.coordinates.lng">
          <agm-info-window [disableAutoPan]="true">
            {{ course.name }} @ {{ course.location.name | uppercase }}
          </agm-info-window>
        </agm-marker>
      </ng-container>
    </agm-map>
  </div>
</div>
