<div class="row no-gutters">
  <div class="col-4 px-2">
    <h1 class="mb-0">RUNWCM</h1>
    <small class="text-muted">Rutgers Newark Class Mapper</small>

    <hr>

    <form class="mb-2" (submit)="onSubmit()">
      <div class="form-group required">
        <label class="control-label" for="webregdata">Webreg Data</label>
        <input type="text"
               class="form-control"
               id="webregdata"
               aria-describedby="webregHelp"
               placeholder="Paste here!"
               [formControl]="webregControl"
               required>
        <small id="webregHelp" class="form-text text-muted">
          Navigate to Webreg, then select all (CTRL+A or CMD+A), then copy, and finally paste here.
        </small>
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="webregControl.invalid">
        Go
      </button>
    </form>

    <ngb-alert type="danger"
               [dismissible]="true"
               (close)="onDismissError()"
               *ngIf="hasError">
      <strong>Warning!</strong> Failed to parse.
    </ngb-alert>

    <hr>

    <ng-container *ngIf="schedule">
      <div class="d-flex justify-content-center schedule-content">
        <div class="btn-group" ngbRadioGroup name="radioBasic">
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="monday"> M
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="tuesday"> T
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="wednesday"> W
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="thursday"> TH
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="friday"> F
          </label>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-header">
          Monday
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </ng-container>
  </div>
  <div class="col-8">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>
